[Desktop Entry]
Version=1.2
Type=Application
Name=Qr Scanner
Exec=/usr/bin/droidian-camera -qr
Icon=droidian-qr
Terminal=false
StartupNotify=false
Comment=Qr Scanner
Categories=AudioVideo;Video;Photography;