Source: droidian-camera
Section: libs
Maintainer: Erik Inkinen <erik.inkinen@gmail.com>
            Bardia Moshiri <fakeshell@bardia.tech>
            Alexander Rutz <alex@familyrutz.com>
Priority: optional
Build-Depends: cmake,
               libgles-dev,
               qt6-base-dev,
               pkg-config,
               qt6-declarative-dev,
               qt6-multimedia-dev,
               libdroidmedia-dev,
Standards-Version: 4.5.1

Package: droidian-camera
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libqt6gui6-gles,
         qt6-wayland,
         qml6-module-qtquick-layouts,
         qml6-module-qtquick-controls,
         qml6-module-qtquick,
         qml6-module-qtmultimedia,
         qml6-module-qtquick-window,
         qml6-module-qtqml-workerscript
Provides: pinhole
Conflicts: pinhole
Description: This package contains Droidian's default camera app.
