Source: droidian-camera
Section: libs
Maintainer: Erik Inkinen <erik.inkinen@gmail.com>
            Bardia Moshiri <fakeshell@bardia.tech>
            Alexander Rutz <alex@familyrutz.com>
Priority: optional
Build-Depends: cmake,
               qtbase5-dev,
               qtdeclarative5-dev,
               libqt5multimedia5-plugins,
               qttools5-dev-tools,
               libz-dev,
               qtmultimedia5-dev
Standards-Version: 4.5.1

Package: droidian-camera
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qml-module-qtmultimedia,
         libqt5multimedia5-plugins, 
         qml-module-qtquick2, 
         qml-module-qtquick-controls2, 
         qml-module-qtquick-window2, 
         qt5-cameraplugin-aal, 
         qml-module-qt-labs-platform, 
         qml-module-qt-labs-folderlistmodel, 
         qml-module-qt-labs-settings, 
         qml-module-qtquick-layouts, 
         qml-module-qtgraphicaleffects,
         libqt5svg5
Provides: pinhole
Conflicts: pinhole
Description: This package contains Droidian's default camera app.
